<div class="row message-row">
  <p class="message-body">
    <span class="user-name" style="position:absolute; left: 30px">
      <%= message.user.name %>:
    </span>
    <span class="user-name" style="position:absolute; left: 250px">
      <%= message.body %>
    </span>
  </p>
</div>
