.error {
        color: red;
        width: 50%;
        height: 3em;
        margin-top: 2em;
        list-style:none;
        background-color: #999;
        padding: 1em;
        border-bottom: 3px solid grey;
}
