<div class="row">
  <div class="card-panel teal lighten-2">
    <h1 class="center-align"><%= @product.name  %></h1>
  </div>

  <%= link_to "Rediger", edit_product_path(@product), class: "btn" %>
</div>
